body {
    font-family:'Ubuntu', sans-serif;
    background-color: #ffffff;
}
  
.bg-color {
    background-color: #3A0CA3;
}

.navbar-logo{
    font-family: 'Montserrat', sans-serif;
}

.footer-style {
    background-color: #080a5e;
    height: 200px;
  }

@media (min-width: 769px) {
    .navbar-logo {
      padding-left: 70px;
      color: #ffffff;
      font-size: 30px;
}}
  
.navbar-text {
    padding-right: 80px;
}

.carousel-size {
    height: 950px;
    width: 1440px;
    margin-top: -120px;
  }

header h4 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
  }

header p {
    font-size: 50px;
    background-color: #7209B7;
    font-family: 'Montserrat', sans-serif;
  }

/*Inicio de media query para MOBILE */
 @media (max-width: 768px) {    
    .navbar-logo {
        color: #ffffff;
        font-size: 15px;
        margin-left: 10px;
    }
    header h4{
        color: #ffffff;
        font-size: 20px;
    }

    header p{
        color: #ffffff;
        font-size: 28px;
    }

    .carousel-size {
      height: 600px;
      width: 500px;
    }
  
    .img-size {
      height: 180px;
      width: 290px;
    }
  
    .experience-border {
      border-bottom: 2px solid  #7209B7;
      margin-top: 50px;
      text-align: center;
    }
  
    .experience-style {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  
    .experience-title {
      color: #ffffff;
      background-color: #080a5e;
      font-size: 28px;
    }

    .experience-desc {
        color: #ffffff;
        background-color: #080a5e;
        font-size: 30px;
        margin-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 30px;
      }
  
    .experience-text {
      color:  #7209B7;
      font-size: 20px;
      padding-bottom: 40px;
    }
  
    .work-container {
      padding-top: 60px;
      padding-bottom: 50px;
    }
  
    .work-title {
      background-color: #7209B7;
      color: #ffffff;
      font-size: 20px;
    }
  
    .contact-title {
      color: #ffffff;
      background-color: #7209B7;
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .contact-text {
      color: #7209B7;
      font-size: 18px;
      padding-top: 30px;
      padding-bottom: 50px;
    }
  
    .footer-icons a {
      color: #ffffff;
      margin-right: 6px;
      margin-left: 6px;
      font-size: 30px;
    }
  
    .footer-icons {
      text-align: center;
      display: block;
    }
  
    footer h2 {
      text-align: center;
      display: block;
      padding-bottom: 20px;
    }
  }
/*Fin de media query para MOBILE */

 .description-text{
     padding: 100px;
 }
 .experience-bloc {
    padding-bottom: 70px;
  }
.experience-logo {
    color: #7209B7;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }


.card-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }

.bg-work {
    background-color: #4361EE;
  }
  
.card-color {
    color: #080a5e;
  }
  .btn-style {
    background-color:#7209B7;
    color: #ffffff;
  }
  .contact-title {
    color: #ffffff;
    background-color: #7209B7;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

/*Inicio de media query para DESKTOP */
@media (min-width: 769px) {
    .navbar-logo {
      padding-left: 100px;
      color: #ffffff;
      font-size: 30px;
}
  
.navbar-text {
      padding-right: 80px;
}
  
.carousel-size {
      height: 820px;
      width: 1440px;
      margin-top: -120px;
}
  
header h4 {
      font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
}
  
header p {
      font-size: 50px;
      background-color: #7209B7;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
}
  
.img-size {
      height: 270px;
      width: 460px;
}
.experience-desc{
    margin-bottom: 50px;
}

.experience-logo {
    margin-left: 100px;
}

.experience-style {
      padding-bottom: 70px;
}
  
.experience-title {
      color: #ffffff;
      background-color: #080a5e;
      font-size: 50px;
}
  
.contact-title {
      color: #ffffff;
      background-color: #7209B7;
      margin-bottom: 80px;
}
  
.experience-text {
      color: #7209B7;
      font-size: 30px;
}
  
.work-container {
      padding-top: 70px;
      padding-bottom: 70px;
}
  
.work-title {
      background-color:#7209B7;
      color: #ffffff;
      font-size: 50px;
}
  
.card-top {
      padding-top: 30px;
      padding-bottom: 30px;
 }
  
.contact-title {
      color: #ffffff;
      background-color:#7209B7;
      font-size: 50px;
      margin-top: 50px;
}
  
.contact-text {
      color: #7209B7;
      font-size: 30px;
 }
  
.contact-button {
      margin-bottom: 50px;
      margin-top: 70px;
}
footer h2 {
        padding-top: 35px;
        display: inline-block;
}
.footer-icons a {
      color: #ffffff;
      font-size: 40px;
    }
  
.footer-icons {
      float: right;
      padding-right: 100px;
      padding-top: 15px;
      display: inline-block;
} 
}
/*Fin de media query para DESKTOP */