body {
    font-family:'Ubuntu', sans-serif;
    background-color: #ffffff;
}
  
.bg-color {
    background-color: #3A0CA3;
}

.navbar-logo{
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 769px) {
    .navbar-logo {
      padding-left: 70px;
      color: #ffffff;
      font-size: 30px;
}}
  
.navbar-text {
    padding-right: 80px;
}

@media (max-width: 768px) {
    .navbar-logo {
        color: #ffffff;
        font-size: 15px;
        margin-left: 10px;
}}

.carousel-size {
    height: 950px;
    width: 1440px;
    margin-top: -120px;
  }

header h4 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
  }

header p {
    font-size: 50px;
    background-color: #7209B7;
    font-family: 'Montserrat', sans-serif;
  }
@media (max-width: 768px) {
   header p{
        color: #ffffff;
        font-size: 28px;
}}
@media (max-width: 768px) {
    header h4{
         color: #ffffff;
         font-size: 20px;
 }}
 .description-text{
     padding: 100px;
 }